.html-healer-settings .menu_button {
    background-color: #4caf50; /* Nice Green Color */
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.html-healer-settings .menu_button:hover {
    background-color: #45a049;
}

.html-healer-settings .styled_description_block {
    opacity: 0.7;
    font-style: italic;
    font-size: 0.9em;
}
